<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gotako.govoz"
    android:installLocation="auto"
    android:versionCode="2018090801"
    android:versionName="2018.09a">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainNeoActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".PostActivity"
            android:label="@string/title_activity_post" />

        <service android:name=".service.CachePostService" />
        <service
            android:name=".service.VozVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" />
        <activity
            android:name=".ShowImageActivity"
            android:label="@string/title_activity_show_image" />
        <activity
            android:name=".PMViewActivity"
            android:label="@string/title_activity_pmview" />
        <activity
            android:name=".InboxActivity"
            android:label="@string/title_activity_inbox" />
        <activity
            android:name=".CreatePMActivity"
            android:label="@string/title_activity_create_pm"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BrowserActivity"
            android:label="@string/title_activity_browser"
            android:theme="@style/AppTheme" />
        <activity android:name=".VozSmiliesActivity"></activity>
    </application>

</manifest>